:root{
    --primary-color: #0D2B0A;
    --secondary-color: #D1C630;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: 90vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-screen{
    min-width: 50vw;
    height: 150px;
    font-size: 25px;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 120px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.btn{
    border:5px solid var(--secondary-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    width: 150px;
    height: 50px;
}